@charset "utf-8";

@media screen and (min-width:1025px) {
  
  /* 헤더서식 */
  header{
    background:#4b4b4b;
    height:170px;
    position:relative;
  }
  .h_top{
    width:1200px;
    margin:0 auto;
    position:relative; /*기준*/
  }

  .h_top > h1{
    position:absolute;
    left:0px; top:40px;
    width:200px;
  }
  .h_top > h1 img{width:100%;}

  .h_top > .lnb{
    position:absolute; right:0px; top:15px;
  }

  .lnb > ul{
    width:300px;
    display: flex;
    justify-content: space-around;
  }
  .lnb > ul a{
    font-size:13px;
    color:#fff;
  }
  .lnb > ul a:hover{
    text-decoration: underline;
  }

  /* 하단내비 */

.h_bottom{
  background: #777;
  height:48px; width:100%;
  position: absolute; bottom:0px;
}

.h_bottom > .gnb{
  width:1200px;
  margin:0px auto;
}

.h_bottom > .gnb > ul{
  display: flex;
  justify-content: flex-end;
}
/* 서브메뉴 부모 */
.h_bottom > .gnb > ul > li{
  line-height:48px;
  text-align:center;
  padding:0px 40px;
  position:relative;
}

.h_bottom > .gnb > ul > li > a{
  font-size: 16px;
  color:#fff;
  font-weight: 400;
}

.h_bottom > .gnb > ul > li > a::after{
  width:1px; height:14px;
  background-color: #ccc;
  content:"";
  display:block;
  position:relative; top:-32px; left:82px;
}

/* 서브메뉴서식 */
.sub{
  position:absolute; left:0px; top:48px;
  width:100%; height:200px;
  text-align: center;
  background: rgba(255,255,255,0.8);
  padding:15px 0px;
  display: none;
}
.sub > li{line-height: 30px;;}
.sub > li > a{font-size: 13px;}
.gnb > ul > li:first-child .sub{
  padding-left: 300px;left:-300px;
}

.gnb > ul > li:nth-child(6) .sub{
  padding-right: 150px;right:0px;
}

.gnb:hover .sub{display:block;}

.h_bottom > .gnb > ul > li > a:hover{text-decoration: underline;}

.h_bottom > .gnb > ul > li:nth-child(2) > a::after{left:100px;}
.h_bottom > .gnb > ul > li:nth-child(3) > a::after{left:75px;}
.h_bottom > .gnb > ul > li:nth-child(4) > a::after{left:72px;}
.h_bottom > .gnb > ul > li:nth-child(5) > a::after{left:85px;}
.h_bottom > .gnb > ul > li:nth-child(6) > a::after{left:120px;}
.h_bottom > .gnb > ul > li:last-child > a::after{display:none;}

/* 메인서식 */

main{}
main .slide{}
main > .slide > h2{display:none;}
main .slide img{width:100%;}

section{
  padding:50px 0px;
}

/* 무료체험 */
.free_ex{
  background-color: #e32929;
  height:530px;
}
.free_ex article{
  width:1200px;
  margin:0px auto;
}
.free_ex article > h2{display: none;}
.free_ex article > img{
  float:left;
  padding:30px 0px 0px 120px;
  width:430px;
}

.free_ex_right{
  text-align: center;
  padding-top:50px;
  color:#fff;
}
.free_ex_right > h2{
  font-size: 34px;
  font-weight: 200;
  padding-top:30px;
  padding-bottom: 16px;
}
.free_ex_right > h2 > img{
  padding-bottom:10px;
  width:60px;
}
.free_ex_right p{
  font-size:18px;
  line-height:30px;
  padding:50px 0px 90px 0px;
}
.button{
  font-size:16px;
  background: #fff;
  padding:6px 30px;
  border:1px solid #ccc;
  transition: 0.5s;
}
.button:hover{
  color:#fff;
  background: #333;
}

/* 쇼핑하기 */
.shop{
  width: 1200px;
  margin:0px auto;
}

.shop > h2{
  text-align: center;
  font-size:36px;
  padding:20px 0px 60px 0px;
  font-weight:200;
}
.shop > h2 > img{
  width:40px;
  padding-right:10px;
  transform: translateY(8px);
}
.p_center{
  text-align:center;
  margin-bottom:130px;
}
/* 상품목록 */
.product{
  display: flex;
  justify-content: space-around;
}
.product > li{
  width:50%;
  text-align: center;
}
.product > li img{
  width:300px;
  float:left;
  padding:0px 50px;
}
.info{
  width:200px;
  float:right;
  padding-top:40px;
  font-size:18px;
}
.info > h3{
  font-weight:500;
  font-size:18px;
}
.info > p{
  line-height:40px;
}
.info > .price{
  padding-top: 50px;
  font-weight: bold;
  font-size: 18px;
  color:#f00;
  display:inline-block;
}
.info > p:last-of-type{
  padding:20px 0px 0px 0px;
}

/* 펫스토리 서식 */
.story{
  width:100%;
  background:#f0f0f0;
  height:620px;
}

.story > h2{
  display:none;
}
.story > article{
  width:1200px;
  margin:0px auto;
  padding: 50px 0px;
}
.story > article > h2{
  font-size: 36px;
  color:#333;
  font-weight:200;
  padding-top:120px;
  padding-bottom:60px;
}
.story_left{
  float:left;
  text-align: center;
  padding-left: 100px;
}
.story_left > h2{
  font-size: 36px;
  color:#333;
  font-weight: 200;
  padding-top:120px;
  padding-bottom: 60px;
}
.story_left p{
  font-size:18px;
  line-height:30px;
  padding-bottom:90px;
}
.story_left > h2 img{
width:40px;
padding-right:10px;
}
.s_img{
  width:430px;
  float:right;
  padding:70px 120px 0px 0px;
}

/* 인스타그램 서식 */
.instar{
  padding:50px 0px;
  width:1200px;
  margin:0px auto;
}

.instar > h2{
  text-align: center;
  font-size:30px;
  color:#333;
  font-weight: 300;
  padding-top: 120px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

.id_name{
  display:block;
  text-transform: lowercase;
  font-size: 18px;
  padding:10px 0px;
}

h2 img{width:40px;
  transform:translateY(10px);
}

.gallery{
  width:900px;
  margin:0px auto;
  display: grid;
  grid-gap: 10px;
  box-sizing: border-box;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
}

.gallery li{
  overflow: hidden;
  height:217.5px;
}

.gallery > li img{
  width:100%;
  transition: 0.5s;
}
.gallery > li img:hover{
  filter:brightness(50%);
  transform: scale(1.1);
}


}